@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;700;800;900&display=swap');

/* ------------- Variáveis globais ----------- */
:root {
    --green-color: #0AC18E;
    --deep-green-color: #059169;
    --black-color: #222;
    --black-hover-color: #4d4d4d;
    --deep-black-color: #2b2b2b;
}


/* ------------- Configuraçoes gerais ----------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: var(--green-color);
    background-color: var(--black-color);
}

.btn {
    width: fit-content;
    border: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    background-color: var(--green-color);
    color: var(--black-color);
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--black-hover-color);
    color: var(--green-color);
}

a {
    text-decoration: none;
    color: inherit;
}

.link-item {
    color: var(--green-color);
    transition: color 0.3s ease 0s;
}
/* ------------------------------------------ */


.logo{
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.links {
    position: relative;
    left: -1.5%;
    text-decoration: none;
    list-style: none;
    display: flex;
}
  
.links li {
    text-decoration: none;
    padding: 0px 13.5px;
}

.btn-github {
    padding: .5rem .75rem;
    transition: 0.7s;
}

.content {
    width: 40%;
    margin: 2.5rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
}

.content__title{
    font-size: 3rem;
    font-weight: 700;
}

.content__describe{
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 80%;
}

.content__button{
    color: #2b2b2b;
    font-family: 'Titillium Web', sans-serif;
    transition: 0.7s;
}

.choose-wallet__btn{
    color: #2b2b2b;
    font-family: 'Titillium Web', sans-serif;
    transition: 0.7s;
}

.get-started {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    margin: 5rem auto;
    background-color: var(--deep-black-color);
    padding: 2rem;
    border-radius: 6px;
}

.get-started__title {
    text-align: center;
}

.choose-wallet,
.currency {
    display: flex;
    gap: 2.5rem;
    margin: 1.5rem 0;
}

.choose-wallet__content,
.currency__content {
    width: 75%;
    text-align: justify;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.choose-wallet__btn {
    padding: .75rem;
    margin: 1rem auto;
}

.choose-wallet__img,
.currency__img {
    width: 220px;
}

/* Guides */

.guides {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    margin: 5rem auto;
    background-color: var(--deep-black-color);
    padding: 2rem;
    border-radius: 6px;
}

.guides__titles {
    text-align: center;
}

.guides__buttons{
    background-color: #0AC18E;
    text-decoration: none;
    color: #2b2b2b;
    font-family: 'Titillium Web', sans-serif;
    transition: 0.7s;
    margin: 0 15px;
}

.guides__subtitles{
    text-align: justify;
}

/* Foundation */

.foundation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    margin: 5rem auto;
    background-color: var(--deep-black-color);
    padding: 2rem;
    border-radius: 6px;
}

.foundation__titles {
    text-align: center;
}

.foundation__buttons{
    background-color: #0AC18E;
    text-decoration: none;
    color: #2b2b2b;
    font-family: 'Titillium Web', sans-serif;
    transition: 0.7s;
    margin: 0 15px;
}

.foundation__subtitles{
    text-align: justify;
}

/* crowdfunding */

.content__describe__crowdfunding{
    font-size: 18px;
    text-align: justify;
    opacity: 80%;
}

.crowdfunding {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    margin: 5rem auto;
    background-color: var(--deep-black-color);
    padding: 2rem;
    border-radius: 6px;
    position: relative;
    bottom: 60px;
}

.crowdfunding__buttons{
    background-color: #0AC18E;
    text-decoration: none;
    color: #2b2b2b;
    font-family: 'Titillium Web', sans-serif;
    transition: 0.7s;
    margin: 0 15px;
}

